xsd/achievements.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsisaac="https://wofsauge.github.io/isaac-xml-validator">
    <xs:import schemaLocation="https://wofsauge.github.io/isaac-xml-validator/xsd/isaacTypes.xsd" namespace="https://wofsauge.github.io/isaac-xml-validator" />
    <xs:element name="achievements">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="achievement">
                    <xs:complexType>
                        <xs:attribute name="id" type="xs:unsignedShort" use="required" />
                        <xs:attribute name="text" type="xs:string" use="required" />
                        <xs:attribute name="gfx" type="xsisaac:pngFile" use="required" />
                        <xs:attribute name="steam_name" type="xs:string" use="optional" />
                        <xs:attribute name="steam_description" type="xs:string" use="optional" />
                        <xs:attribute name="steam_icon" type="xs:string" use="optional" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="gfxroot" use="required" />
        </xs:complexType>
    </xs:element>
</xs:schema>