xsd/ambush.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ambushRoom">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="baseWave">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="stage">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="wave">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" name="enemy">
                            <xs:complexType>
                              <xs:attribute name="type" type="xs:unsignedByte" use="required" />
                              <xs:attribute name="variant" type="xs:unsignedByte" use="required" />
                              <xs:attribute name="count" type="xs:unsignedByte" use="required" />
                              <xs:attribute name="chunks" type="xs:unsignedByte" use="optional" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:unsignedByte" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="altWave">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="stage">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="wave">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="enemy">
                            <xs:complexType>
                              <xs:attribute name="type" type="xs:unsignedByte" use="required" />
                              <xs:attribute name="variant" type="xs:unsignedByte" use="required" />
                              <xs:attribute name="count" type="xs:unsignedByte" use="required" />
                              <xs:attribute name="chunks" type="xs:unsignedByte" use="optional" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:unsignedByte" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="secBaseWave">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="stage">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="wave">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="enemy">
                            <xs:complexType>
                              <xs:attribute name="type" type="xs:unsignedByte" use="required" />
                              <xs:attribute name="variant" type="xs:unsignedByte" use="required" />
                              <xs:attribute name="count" type="xs:unsignedByte" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:unsignedByte" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="secAltWave">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="stage">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="wave">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="enemy">
                            <xs:complexType>
                              <xs:attribute name="type" type="xs:unsignedByte" use="required" />
                              <xs:attribute name="variant" type="xs:unsignedByte" use="required" />
                              <xs:attribute name="count" type="xs:unsignedByte" use="required" />
                              <xs:attribute name="chunks" type="xs:unsignedByte" use="optional" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:unsignedByte" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>