xsd/bossoverlays.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsisaac="https://wofsauge.github.io/Isaac-XML-Validator">
  <xs:import schemaLocation="https://wofsauge.github.io/Isaac-XML-Validator/datatypes.xsd" namespace="https://wofsauge.github.io/Isaac-XML-Validator" />
  <xs:element name="bossoverlay">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="entry">
          <xs:complexType>
            <xs:attribute name="id" type="xs:unsignedByte" use="required" />
            <xs:attribute name="anm2" type="xs:string" use="required" />
            <xs:attribute name="anim" type="xs:string" use="required" />
            <xs:attribute name="persist" type="xs:boolean" use="optional" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="anm2root" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>