xsd/costumes2.xsd


<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsisaac="https://wofsauge.github.io/isaac-xml-validator">
  <xs:import schemaLocation="https://wofsauge.github.io/isaac-xml-validator/xsd/isaacTypes.xsd" namespace="https://wofsauge.github.io/isaac-xml-validator" />
  <xs:element name="costumes">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="costume">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute name="id" type="xs:unsignedShort" use="optional" />
                <xs:attribute name="anm2path" type="xsisaac:anm2File" use="required" />
                <xs:attribute name="type" type="xs:string" use="required" />
                <xs:attribute name="skinColor" type="xs:unsignedInt" use="optional" />
                <xs:attribute name="isFlying" type="xs:boolean" use="optional" />
                <xs:attribute name="overwriteColor" type="xs:boolean" use="optional" />
                <xs:attribute name="priority" type="xs:short" use="optional" />
                <xs:attribute name="hasSkinAlt" type="xs:boolean" use="optional" />
                <xs:attribute name="hasOverlay" type="xs:boolean" use="optional" />
                <xs:attribute name="forceBodyColor" type="xs:boolean" use="optional" />
                <xs:attribute name="forceHeadColor" type="xs:boolean" use="optional" />
                <!-- Repentogon -->
                <xs:attribute name="name" type="xs:string" use="optional" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="anm2root" type="xsisaac:gfxPath" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>
