xsd/cutscenes.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsisaac="https://wofsauge.github.io/isaac-xml-validator">
  <xs:import schemaLocation="https://wofsauge.github.io/isaac-xml-validator/xsd/isaacTypes.xsd" namespace="https://wofsauge.github.io/isaac-xml-validator" />
  <xs:element name="cutscenes">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="cutscene">
          <xs:complexType>
            <xs:sequence>
              <xs:choice maxOccurs="unbounded">
                <xs:element name="anm2part">
                  <xs:complexType>
                    <xs:attribute name="anm2" type="xsisaac:anm2File" use="required" />
                    <xs:attribute name="subtitles" type="xsisaac:srtFile" use="optional" />
                    <xs:attribute name="anim" type="xs:string" use="required" />
                    <xs:attribute name="music" type="xs:string" use="required" /> <!-- Vanilla only uses ints, Repentogon can use strings -->
                    <xs:attribute name="musicDelay" type="xs:unsignedInt" use="optional" />
                    <xs:attribute name="width" type="xs:unsignedShort" use="required" />
                    <xs:attribute name="height" type="xs:unsignedShort" use="required" />
                    <xs:attribute name="letterbox" type="xs:boolean" use="optional" />
                  </xs:complexType>
                </xs:element>
                <xs:element name="videopart">
                  <xs:complexType>
                    <xs:attribute name="file" type="xsisaac:ogvFile" use="required" />
                    <xs:attribute name="keepMusic" type="xs:boolean" use="optional" />
                    <xs:attribute name="subtitles" type="xsisaac:srtFile" use="optional" />
                  </xs:complexType>
                </xs:element>
              </xs:choice>
            </xs:sequence>
            <xs:attribute name="id" type="xs:unsignedInt" use="required" />
            <xs:attribute name="name" type="xs:string" use="optional" />
            <xs:attribute name="fadeout" type="xs:boolean" use="optional" />
            <xs:attribute name="fadecolor" type="xs:string" use="optional" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="root" type="xsisaac:gfxPath" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>