xsd/fxlayers.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsisaac="https://wofsauge.github.io/isaac-xml-validator">
  <xs:import schemaLocation="https://wofsauge.github.io/isaac-xml-validator/isaacTypes.xsd" namespace="https://wofsauge.github.io/isaac-xml-validator" />
  <xs:element name="fxLayers">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="fx">
          <xs:complexType>
            <xs:sequence minOccurs="0">
              <xs:element maxOccurs="unbounded" name="gfx">
                <xs:complexType>
                  <xs:attribute name="path" type="xs:string" use="required" />
                  <xs:attribute name="roomshape" type="xs:unsignedInt" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="id" type="xs:unsignedInt" use="required" />
            <xs:attribute name="path" type="xs:string" use="required" />
            <xs:attribute name="numLayers" type="xs:unsignedInt" use="required" />
            <xs:attribute name="xMin" type="xs:decimal" use="optional" />
            <xs:attribute name="xMax" type="xs:decimal" use="optional" />
            <xs:attribute name="yMin" type="xs:decimal" use="optional" />
            <xs:attribute name="yMax" type="xs:decimal" use="optional" />
            <xs:attribute name="layer" type="xs:string" use="required" />
            <xs:attribute name="stage" type="xs:unsignedInt" use="optional" />
            <xs:attribute name="altStages" type="xs:unsignedInt" use="optional" />
            <xs:attribute name="onlyDefaultBackdrop" type="xs:boolean" use="optional" />
            <xs:attribute name="blendMode" type="xs:unsignedInt" use="optional" />
            <xs:attribute name="parallax" type="xs:decimal" use="optional" />
            <xs:attribute name="backdrop" type="xs:unsignedInt" use="optional" />
            <xs:attribute name="useBGShader" type="xs:unsignedInt" use="optional" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="gfxroot" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>