xsd/giantbook.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsisaac="https://wofsauge.github.io/Isaac-XML-Validator">
  <xs:import schemaLocation="../datatypes.xsd" namespace="https://wofsauge.github.io/Isaac-XML-Validator" />
  <xs:element name="giantbook">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="entry">
          <xs:complexType>
            <xs:sequence minOccurs="0">
              <xs:element maxOccurs="unbounded" name="layer">
                <xs:complexType>
                  <xs:attribute name="name" type="xs:string" use="required" />
                  <xs:attribute name="r" type="xs:unsignedByte" use="required" />
                  <xs:attribute name="g" type="xs:unsignedByte" use="required" />
                  <xs:attribute name="b" type="xs:unsignedByte" use="required" />
                  <xs:attribute name="a" type="xs:unsignedByte" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="id" type="xs:unsignedByte" use="required" />
            <xs:attribute name="anm2" type="xs:string" use="optional" />
            <xs:attribute name="anim" type="xs:string" use="optional" />
            <xs:attribute name="gfx" type="xs:string" use="optional" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="anm2root" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>