xsd/info_display.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="itemInfoType">
    <xs:attribute name="text" type="xs:string" use="required" />
    <xs:attribute name="collectible" type="xs:string" use="optional" />
    <xs:attribute name="notcollectible" type="xs:string" use="optional" />
    <xs:attribute name="player" type="xs:string" use="optional" />
    <xs:attribute name="notplayer" type="xs:string" use="optional" />
    <xs:attribute name="trinket" type="xs:string" use="optional" />
    <xs:attribute name="nottrinket" type="xs:string" use="optional" />
    <xs:attribute name="tag" type="xs:unsignedByte" use="optional" />
  </xs:complexType>

  <xs:element name="collectibles">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="collectible">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="info" type="itemInfoType" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:unsignedShort" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="trinkets">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="trinket">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="info" type="itemInfoType" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:unsignedByte" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="pills">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="pill">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="info" type="itemInfoType" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:unsignedByte" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cards">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="card">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="info" type="itemInfoType" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:unsignedByte" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>