xsd/itempools.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsisaac="https://wofsauge.github.io/isaac-xml-validator">
  <xs:import schemaLocation="https://wofsauge.github.io/isaac-xml-validator/isaacTypes.xsd" namespace="https://wofsauge.github.io/isaac-xml-validator" />
  <xs:element name="ItemPools">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Pool">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Item">
                <xs:complexType>
                  <xs:attribute name="Id" type="xs:unsignedShort" use="required" />
                  <xs:attribute name="Weight" type="xs:decimal" use="required" />
                  <xs:attribute name="DecreaseBy" type="xs:decimal" use="required" />
                  <xs:attribute name="RemoveOn" type="xs:decimal" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="Name" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>