xsd/items_metadata.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsisaac="https://wofsauge.github.io/Isaac-XML-Validator">
    <xs:import schemaLocation="../datatypes.xsd" namespace="https://wofsauge.github.io/Isaac-XML-Validator" />
    <xs:element name="items">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="item">
                    <xs:complexType>
                        <xs:attribute name="id" type="xs:unsignedShort" use="required" />
                        <xs:attribute name="quality" type="xs:unsignedByte" use="required" />
                        <xs:attribute name="tags" type="xs:string" use="required" />
                    </xs:complexType>
                </xs:element>
                <xs:element maxOccurs="unbounded" name="trinket">
                    <xs:complexType>
                        <xs:attribute name="id" type="xs:unsignedByte" use="required" />
                        <xs:attribute name="quality" type="xs:unsignedByte" use="required" />
                        <xs:attribute name="tags" type="xs:string" use="required" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>