xsd/locusts.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsisaac="https://wofsauge.github.io/Isaac-XML-Validator">
  <xs:import schemaLocation="https://wofsauge.github.io/Isaac-XML-Validator/datatypes.xsd" namespace="https://wofsauge.github.io/Isaac-XML-Validator" />
  <xs:element name="locusts">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="color">
          <xs:complexType>
            <xs:attribute name="name" type="xs:string" use="required" />
            <xs:attribute name="r" type="xs:unsignedShort" use="optional" />
            <xs:attribute name="g" type="xs:unsignedShort" use="optional" />
            <xs:attribute name="b" type="xs:unsignedShort" use="optional" />
            <xs:attribute name="or" type="xs:short" use="optional" />
            <xs:attribute name="og" type="xs:short" use="optional" />
            <xs:attribute name="ob" type="xs:short" use="optional" />
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="unbounded" name="locust">
          <xs:complexType>
            <xs:attribute name="id" type="xs:unsignedShort" use="required" />
            <xs:attribute name="count" type="xs:unsignedByte" use="optional" />
            <xs:attribute name="color" type="xs:string" use="required" />
            <xs:attribute name="tearFlags" type="xs:string" use="optional" />
            <xs:attribute name="damageMultiplier" type="xs:decimal" use="optional" />
            <xs:attribute name="scale" type="xs:decimal" use="optional" />
            <xs:attribute name="gfx" type="xs:string" use="optional" />
            <xs:attribute name="speed" type="xs:decimal" use="optional" />
            <xs:attribute name="collisionInterval" type="xs:unsignedByte" use="optional" />
            <xs:attribute name="tearFlags2" type="xs:unsignedByte" use="optional" />
            <xs:attribute name="backGfx" type="xs:string" use="optional" />
            <xs:attribute name="backColor" type="xs:string" use="optional" />
            <xs:attribute name="overlayGfx" type="xs:string" use="optional" />
            <xs:attribute name="overlayColor" type="xs:string" use="optional" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="gfxroot" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>