xsd/music.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsisaac="https://wofsauge.github.io/Isaac-XML-Validator">
    <xs:import schemaLocation="https://wofsauge.github.io/Isaac-XML-Validator/isaacTypes.xsd" namespace="https://wofsauge.github.io/Isaac-XML-Validator" />
    <xs:element name="music">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="track">
                    <xs:complexType>
                        <xs:sequence minOccurs="0">
                            <xs:element maxOccurs="unbounded" name="layer">
                                <xs:complexType>
                                    <xs:attribute name="path" type="xs:string" use="required" />
                                    <xs:attribute name="mul" type="xs:decimal" use="required" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="id" type="xs:unsignedByte" use="required" />
                        <xs:attribute name="name" type="xs:string" use="required" />
                        <xs:attribute name="intro" type="xs:string" use="optional" />
                        <xs:attribute name="path" type="xs:string" use="required" />
                        <xs:attribute name="layerintro" type="xs:string" use="optional" />
                        <xs:attribute name="layer" type="xs:string" use="optional" />
                        <xs:attribute name="loop" type="xs:boolean" use="required" />
                        <xs:attribute name="layermode" type="xs:unsignedByte" use="optional" />
                        <xs:attribute name="layerfadespeed" type="xs:decimal" use="optional" />
                        <xs:attribute name="mul" type="xs:decimal" use="optional" />
                        <xs:attribute name="layermul" type="xs:decimal" use="optional" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="root" type="xs:string" use="required" />
        </xs:complexType>
    </xs:element>
</xs:schema>