xsd/playerforms.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsisaac="https://wofsauge.github.io/isaac-xml-validator">
<xs:import schemaLocation="https://wofsauge.github.io/isaac-xml-validator/xsd/isaacTypes.xsd" namespace="https://wofsauge.github.io/isaac-xml-validator" />
  <xs:element name="playerforms">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="form">
          <xs:complexType>
            <xs:attribute name="id" type="xs:unsignedInt" use="required" />
            <xs:attribute name="name" type="xs:string" use="required" />
            <xs:attribute name="costume" type="xs:unsignedInt" use="optional" />
            <xs:attribute name="tags" type="xs:string" use="optional" />
            <xs:attribute name="cache" type="xs:string" use="optional" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>