xsd/pocketitems.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsisaac="https://wofsauge.github.io/Isaac-XML-Validator">
  <xs:import schemaLocation="../datatypes.xsd" namespace="https://wofsauge.github.io/Isaac-XML-Validator" />
  <xs:element name="pocketitems">
    <xs:complexType>
      <xs:sequence>
        <xs:choice maxOccurs="unbounded">
          <xs:element maxOccurs="unbounded" name="card">
            <xs:complexType>
              <xs:attribute name="id" type="xs:unsignedByte" use="required" />
              <xs:attribute name="name" type="xs:string" use="required" />
              <xs:attribute name="type" type="xs:string" use="optional" />
              <xs:attribute name="pickup" type="xs:unsignedByte" use="optional" />
              <xs:attribute name="description" type="xs:string" use="optional" />
              <xs:attribute name="announcer" type="xs:unsignedShort" use="optional" />
              <xs:attribute name="announcerdelay" type="xs:unsignedByte" use="optional" />
              <xs:attribute name="mimiccharge" type="xs:unsignedByte" use="optional" />
              <xs:attribute name="greedmode" type="xs:boolean" use="optional" />
              <xs:attribute name="achievement" type="xs:unsignedShort" use="optional" />
            </xs:complexType>
          </xs:element>
          <xs:element maxOccurs="unbounded" name="rune">
            <xs:complexType>
              <xs:attribute name="type" type="xs:string" use="required" />
              <xs:attribute name="pickup" type="xs:unsignedByte" use="required" />
              <xs:attribute name="achievement" type="xs:unsignedShort" use="optional" />
              <xs:attribute name="description" type="xs:string" use="required" />
              <xs:attribute name="id" type="xs:unsignedByte" use="required" />
              <xs:attribute name="name" type="xs:string" use="required" />
              <xs:attribute name="announcer" type="xs:unsignedShort" use="optional" />
              <xs:attribute name="mimiccharge" type="xs:unsignedByte" use="required" />
              <xs:attribute name="announcerdelay" type="xs:unsignedByte" use="optional" />
            </xs:complexType>
          </xs:element>
          <xs:element name="pilleffect">
            <xs:complexType>
              <xs:attribute name="announcer2" type="xs:unsignedShort" use="required" />
              <xs:attribute name="id" type="xs:unsignedByte" use="required" />
              <xs:attribute name="name" type="xs:string" use="required" />
              <xs:attribute name="announcer" type="xs:unsignedShort" use="required" />
              <xs:attribute name="class" type="xs:string" use="required" />
              <xs:attribute name="mimiccharge" type="xs:unsignedByte" use="required" />
              <xs:attribute name="announcerdelay" type="xs:unsignedByte" use="optional" />
              <xs:attribute name="description" type="xs:string" use="optional" />
              <xs:attribute name="greedmode" type="xs:boolean" use="optional" />
              <xs:attribute name="achievement" type="xs:unsignedShort" use="optional" />
            </xs:complexType>
          </xs:element>
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>