xsd/preload.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="preloads">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="preload">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="png">
                <xs:complexType>
                  <xs:attribute name="path" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="id" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>