xsd/stages.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsisaac="https://wofsauge.github.io/Isaac-XML-Validator">
  <xs:import schemaLocation="https://wofsauge.github.io/Isaac-XML-Validator/isaacTypes.xsd" namespace="https://wofsauge.github.io/Isaac-XML-Validator" />
  <xs:element name="stages">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="stage">
          <xs:complexType>
            <xs:attribute name="id" type="xs:unsignedInt" use="required" />
            <xs:attribute name="name" type="xs:string" use="required" />
            <xs:attribute name="path" type="xsisaac:xmlFile" use="required" />
            <xs:attribute name="playerspot" type="xsisaac:pngFile" use="optional" />
            <xs:attribute name="bossspot" type="xsisaac:pngFile" use="optional" />
            <xs:attribute name="music" type="xs:unsignedInt" use="optional" />
            <xs:attribute name="backdrop" type="xs:unsignedInt" use="optional" />
            <xs:attribute name="suffix" type="xs:string" use="optional" />
            <xs:attribute name="fx" type="xs:string" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="root" type="xs:string" use="required" />
      <xs:attribute name="greedroot" type="xs:string" use="required" />
      <xs:attribute name="bossgfxroot" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>